<p>This is the relic view.</p>

<div class="relics-a" style="display: none;">
	<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8401.png">
</div>

<div class="relics-b" style="display: none;"><body><h1>Final Fantasy Record Keeper Upcoming Global Banners</h1>
View <a href="ffrk_jp.html">future banners</a> from the JP server.

<h2><a name="b84">Banner 84 - FF IX - Beatrix, Steiner, Quina, Amarant</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8401.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8402.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8403.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8404.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8405.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8406.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8407.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8408.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8409.png">
<hr>

<h2><a name="b85">Banner 85 - FF IX - Zidane, Garnet, Eiko, Vivi</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8501.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8502.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8503.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8504.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8505.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8506.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8507.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8508.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8509.png">
<hr>

<h2><a name="b86">Banner 86 - FF XII - Vaan, Penelo, Ashe, Fran</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8601.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8602.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8603.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8604.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8605.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8606.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8607.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8608.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8609.png">
<hr>

<h2><a name="b87">Banner 87 - FF XII - Balthier, Fran, Ashe, Vaan</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8701.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8702.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8703.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8704.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8705.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8706.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8707.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8708.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8709.png">
<hr>

<h2><a name="b88">Banner 88 - Seiken Densetsu and FF1 - likely to be skipped</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8801.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8802.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8803.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8804.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8805.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8806.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8807.png">
<hr>

<h2><a name="b89">Banner 89 - FF VI - Terra, Kefka, Edgar, Mog</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8901.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8902.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8903.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8904.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8905.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8906.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8907.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8908.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/8909.png">
<hr>

<h2><a name="b90">Banner 90 - FF VI - Kefka, Sabin, Celes, Shadow</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9001.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9002.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9003.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9004.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9005.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9006.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9007.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9008.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9009.png">
<hr>

<h2><a name="b91">Banner 91 - JP Beginner Banner (probably won't come to Global)</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9101.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9102.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9103.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9104.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9105.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9106.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9107.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9108.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9109.png">
<hr>

<h2><a name="b92">Banner 92 - FF V - Exdeath, Lenna, Bartz, Faris</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9201.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9202.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9203.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9204.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9205.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9206.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9207.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9208.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9209.png">
<hr>

<h2><a name="b93">Banner 93 - FF V - Gilgamesh, Lenna, Faris, Krile</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9301.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9302.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9303.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9304.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9305.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9306.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9307.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9308.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9309.png">
<hr>

<h2><a name="b94">Banner 94 - FF X - Yuna, Jecht, Tidus, Rikku</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9401.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9402.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9403.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9404.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9405.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9406.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9407.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9408.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9409.png">
<hr>

<h2><a name="b95">Banner 95 - FF X - Jecht, Yuna, Rikku, Auron</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9501.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9502.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9503.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9504.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9505.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9506.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9507.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9508.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9509.png">
<hr>

<h2><a name="b96">Banner 96 - Half Price Draws (1 per day, every character relic in the pool)</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9601.png">
<hr>

<h2><a name="b97">Banner 97 - Super Super Super Soul Break Festival (subject to change)</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9701.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9702.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9703.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9704.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9705.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9706.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9707.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9708.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9709.png">
<hr>

<h2><a name="b98">Banner 98 - Super Super Super Soul Break Festival (subject to change)</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9801.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9802.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9803.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9804.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9805.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9806.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9807.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9808.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9809.png">
<hr>

<h2><a name="b99">Banner 99 - Super Super Super Soul Break Festival (subject to change)</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9901.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9902.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9903.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9904.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9905.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9906.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9907.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9908.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/9909.png">
<hr>

<h2><a name="b100">Banner 100 - Super Super Super Soul Break Festival (subject to change)</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10001.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10002.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10003.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10004.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10005.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10006.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10007.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10008.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10009.png">
<hr>

<h2><a name="b101">Banner 101 - Super Super Super Soul Break Festival (subject to change)</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10101.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10102.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10103.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10104.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10105.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10106.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10107.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10108.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10109.png">
<hr>

<h2><a name="b104">Banner 104 - FF VII - Cloud (BSSB), Red XIII (SSB), Zack, Cid, Tifa</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10401.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10402.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10403.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10404.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10405.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10406.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10407.png">
<hr>

<h2><a name="b105">Banner 105 - FF VII - Tifa (SSB), Cloud (SSB), Sephiroth, Yuffie, Aerith</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10501.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10502.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10503.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10504.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10505.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10506.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10507.png">
<hr>

<h2><a name="b106">Banner 106 - FF VIII - Laguna (SSB), Selphie (SSB), Seifer, Zell, Rinoa</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10601.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10602.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10603.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10604.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10605.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10606.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10607.png">
<hr>

<h2><a name="b107">Banner 107 - FF VIII - Quistis (SSB), Rinoa (SSB), Irvine, Zell, Seifer</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10701.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10702.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10703.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10704.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10705.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10706.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10707.png">
<hr>

<h2><a name="b108">Banner 108 - FF IX - Zidane (SSB), Eiko (SSB), Freya, Steiner, Garnet</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10801.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10802.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10803.png">
<!--
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10804.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10805.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10806.png">
-->
<img src="https://dff.static.sp.mbga.jp/dff/static/lang/image/gacha_series/promotion_image/10804.png">
<img src="https://dff.static.sp.mbga.jp/dff/static/lang/image/gacha_series/promotion_image/10805.png">
<img src="https://dff.static.sp.mbga.jp/dff/static/lang/image/gacha_series/promotion_image/10806.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10807.png">
<hr>

<h2><a name="b109">Banner 109 - FF IX - Garnet (SSB), Vivi (SSB), Beatrix, Amarant, Zidane</a></h2>
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10901.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10902.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10903.png">
<!--
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10904.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10905.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10906.png">
-->
<img src="https://dff.static.sp.mbga.jp/dff/static/lang/image/gacha_series/promotion_image/10904.png">
<img src="https://dff.static.sp.mbga.jp/dff/static/lang/image/gacha_series/promotion_image/10905.png">
<img src="https://dff.static.sp.mbga.jp/dff/static/lang/image/gacha_series/promotion_image/10906.png">
<img src="https://ffrk.denagames.com/dff/static/lang/ww/compile/en/image/gacha_series/promotion_image/10907.png">
<hr>


<div id="window-resizer-tooltip"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth"></span> x <span class="tooltipHeight" id="winHeight"></span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth"></span> x <span class="tooltipHeight" id="vpHeight"></span></div></body></div>